<!--<section id="about">
    <section id="body">
        <h1>About me</h1><br>
        <h3>Innovative Full Stack .NET Developer proficient in Azure cloud technologies and having nearly 2 years of
            experience at Capgemini. Specializing in ASP.NET Core Web API, REST API , Angular, Azure, SQL, and Entity
            Framework
            Core (ORM). Proven track record of working with prominent Fortune 500 clients such as "Wells Fargo" and
            "MBRDI",
            both on-site and in hybrid environments. Dedicated to continuously mastering new technologies to remain at
            the
            forefront of industry trends</h3>
    </section>
</section>-->