#body{
    background:rgba(255, 255, 255, 0.1);
    color: black;
    backdrop-filter: blur(10px);
    border: solid 1px white;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    margin:100px;
    transition: 500ms ease-in;
}
#body:hover{
    background-color: black;
    color: white;
    transition: 300ms ease-out;
}
span{
    color: white;
    margin: 0px;
    padding: 10px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
    font-size: 50px;
}
h3{
    font-weight: 10;
    margin: 0px;
    padding: 0px 50px;
}