

body{
    background-color: white;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
#aboutcard{

    background-color: black;
    width: 500px;
    height: 400px;
    cursor: pointer;
}
.abouttopic{
    color: white;
    font-size: 30px;
}