<!-- footer.component.html -->
<section class="footer">
    <div class="footer-content">
        <div class="logo">
            <img src="../../../assets/logos/logo.png" alt="Logo"> <!-- Replace with your logo path -->
        </div>
        <div class="phrase">
            <p>Let's connect and explore </p>
        </div>
        <div class="social-links">
            <a href="https://github.com/Sutheesh-Vishal" target="_blank" aria-label="GitHub">
                <img src="../../../assets/logos/github-logo.png" alt="GitHub" class="github">GitHub
                <!-- Replace with your GitHub icon path -->
            </a>
            <a href="https://linkedin.com/in/sutheesh-vishal-n" target="_blank" aria-label="LinkedIn">
                <img src="../../../assets/logos/linkedin-logo.png" alt="LinkedIn" class="linkedin">LinkedIn
                <!-- Replace with your LinkedIn icon path -->
            </a>
            <a href="mailto:sutheeshvishalnagarajan@gmail.com" target="_blank" aria-label="Email">
                <img src="../../../assets/logos/gmail-logo.png" alt="Email" class="gmail">
                Gmail<!-- Replace with your Email icon path -->
            </a>
        </div>
    </div>
</section>