#body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin: 30px;
    border: solid 1px white;
    border-radius: 30px;
    padding: 15px 0px;

}
.nav-item{
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    padding: 20px 30px;
    transition: ease-in-out 500ms ;
}
.nav-item:hover{
    color: black;
    transition: ease-in-out 300ms;
}