<section id="section">
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="../../../assets/logos/logo.png" alt="Logo">
        </div>

        <div class="navbar-links-center">
            <div class="navbar-links">
                <a routerLink="Home" class="nav-item">Home</a>
                <a routerLink="/About" class="nav-item">About</a>
                <a routerLink="Skills" class="nav-item">Skills</a>
                <a routerLink="Skills" class="nav-item">Experience</a>
                <a routerLink="Projects" class="nav-item">Projects</a>
                <a routerLink="Achievements" class="nav-item">Achievements</a>
            </div>
        </div>
        <div class="navbar-contact">
            <a href="Contact" class="nav-item">Contact</a>
        </div>
    </nav>
</section>